BACKBOARD_API_KEY=
BACKBOARD_ASSISTANT_CONTENT=
BACKBOARD_ASSISTANT_COMPETITOR=
BACKBOARD_ASSISTANT_BRAND=
BACKBOARD_ASSISTANT_AUDIT=
BACKBOARD_ASSISTANT_STORAGE=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=

DOMAIN_CLIENT=http://localhost:9000
DOMAIN_SERVER=http://localhost:8000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ADMIN_EMAILS=you@example.com,other@example.com
